body {
    font-family: Arial;
    text-align: center;
    background: #f0f8ff;
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

p {
    font-size: 18px;
}